<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.templechen.videoshaderdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".gl.SimpleGLActivity"></activity>
        <activity android:name=".PrepareActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PurePlayActivity" />
        <activity android:name="com.example.templechen.videoshaderdemo.gl.sticker.StickerActivity" />
        <activity android:name=".offscreen.OffScreenActivity" />
        <activity android:name=".cpp.NativeSurfaceActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".gl.gesture.GestureActivity" />
        <activity android:name=".image.ImageSurfaceActivity" />
        <activity android:name=".widget.DouyinTestActivity" />
        <activity android:name=".multiple.FakeSurfaceActivity" />
        <activity android:name=".snaphelper.SnapHelperActivity" />
        <activity android:name=".camera.CameraActivity" />
        <activity android:name=".widget.coordinator.CoordinatorActivity" />
        <activity android:name=".album.AlbumActivity" />
        <activity android:name=".test.RecyclerViewTouchTestActivity" />
    </application>

</manifest>